# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
src/generated
src/test

# other
eclipse
run/*
!run/server.properties
run-data
libs

# Files from Forge MDK
forge*changelog.txt

# Files from dev build
run_client.log

# vitepress
vitepress/node_modules
vitepress/.vitepress/dist
vitepress/.vitepress/cache
